  <div class="bg-white overflow-hidden">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="h-80 overflow-hidden relative">
          {% if product.compare_at_price > product.price %}
            {% render 'sale-badge' %}
          {% endif %}

          {% render 'responsive-image',
            image: product.featured_image,
            default_width: 400,
            image_class: 'object-cover transition duration-1000 ease-in-out hover:scale-105 transform'
          %}
          {% for variant in product.variants %}
            {%- assign secondary_image = variant.metafields.custom.secondary_image -%}

            {{
              variant.image
              | image_url: width: 400
              | image_tag:
                class: 'absolute object-cover transition duration-1000 ease-in-out hover:scale-105 transform hidden',
                data-variant-index: forloop.index0
            }}

            {% if secondary_image %}
              {{
                secondary_image
                | image_url: width: 400
                | image_tag:
                  class: 'absolute object-cover transition duration-1000 ease-in-out hover:scale-105 transform hidden',
                  data-variant-secondary-index: forloop.index0
              }}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </a>
  </div>
