{% assign product = closest.product %}
{% assign variant = product.selected_or_first_available_variant %}
{% unless variant.compare_at_price > variant.price %}
    {% assign display_class = "hidden" %}
{% endunless %}

<div class="product-badge on-sale absolute left-0 top-0 px-2.5 py-1 border-red-500 rounded-full z-100 border-2 bg-white {{ display_class }}" data-product-id="{{ product.id }}">
  <span class="text-red-500 font-bold">On Sale!</span>
</div>
