{% liquid
  assign product = closest.product
-%}
<div class="bg-white flex flex-col justify-center items-center md:items-start" data-product-id="{{ product.id }}" data-default-variant-id="{{ product.selected_or_first_available_variant.id }}">
  {% content_for 'blocks', closest.product: product %}
</div>
{% schema %}
{
  "name": "Product Card",
  "blocks": [
    {
      "type": "_product-card-media"
    },
    {
      "type": "_product-color-selector"
    },
    {
      "type": "_product-card-title"
    },
    {
      "type": "_product-card-price"
    }
  ],

  "settings": []
}
{% endschema %}
